{% extends "wrapper.html" %}

<!-- Code part to be built in -->
{% block title %}Список заказов{% endblock title %}

{% block content %}

    <div class="order-block">
    {% for order in orders %}
        <p>{{ order }}</p>
    {% endfor %}
    </div>

    <!--
    <form method="POST" action="makeorder/">
        {% csrf_token %}
        <p>
            <label>Введите имя</label><br>
            <input type="text" name="name" />
        </p>

        <p>
            <label>Введите email</label><br>
            <input type="email" name="email" />
        </p>

        <p>
            <label>Введите phone</label><br>
            <input type="text" name="phone_number" />
        </p>

        <p>
            <label>Введите content</label><br>
            <input type="text" name="content" />
        </p>
        <input type="submit" value="Сохранить">
    </form>
    -->

{% endblock %}