<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Def{% endblock title %}(Supl.biz)</title>
</head>
<body>
    <!-- Голова сайта -->
    <div class="header-block">
        <div class="header-item-suplbiz">Supl.biz</div>
        <div class="header-item-1">Заказать</div>
        <div class="header-item-2">Список всех заказов</div>
    </div>

    <!--Основная часть -->
    <div class="main-segment">
        <!-- Code part to be built in-->
	    {% block content %}
	    {% endblock %}
    </div>

    <!-- Футер сайта -->
    <div class="footer">
        <h2>Footer</h2>
    </div>

</body>
</html>